// fonts in project
$helvetica-regular: "Helvetica Neue Regular";
$helvetica-bold: "Helvetica Neue Bold";
$helvetica-thin: "Helvetica Neue Thin";
$minionpro-regular: "MinionPro-Regular";

//colors in project
$color1: #f36f21;
$color2: #6d6e71;
$color3: #b6b8ba;
$color4: #ffffff;
