.footer {
  background-color: $color2;
  color: $color4;

  //our partners section
  .our-partners {
    @include block-padding(69px, 69px);
    @include font-family($helvetica-bold);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 60px;
      text-align: center;
      letter-spacing: 3px;
      padding-left: 0px;
      margin: 0;
      padding-top: 76px;
      padding-bottom: 72px;
    }

    &__list {
      width: 100%;
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-bottom: 220px;
    }

    &__item {
      flex-grow: 1;
      margin-right: 78px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:last-child {
        margin-right: 0;
      }

      img {
        width: 100%;
      }
    }
  }

  //info section
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 131px;

    &__wrapper-arrow {
      width: 64px;
      height: 66px;
      margin-right: 27px;
      margin-bottom: 91px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__contacts {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      a {
        color: $color4;
        text-decoration: none;
        transition: all ease-out 0.4s;

        &:hover {
          transition: all ease-out 0.4s;
          color: $color1;
        }

        &:focus {
          outline: none;
          color: $color1;
        }
      }

      &-title {
        @include font-family($helvetica-bold);
        text-transform: uppercase;
        font-size: 35px;
        letter-spacing: 1px;
        margin-right: 26px;
        margin-bottom: 13px;
      }

      &-adress {
        font-size: 34px;
        margin-right: 26px;
        letter-spacing: 1px;
        margin-bottom: 5px;
      }

      &-phone {
        font-size: 37px;
        margin-right: 27px;
      }

      &-email {
        font-size: 34px;
        margin-right: 25px;
        letter-spacing: 1px;
      }

      &-url1 {
        font-size: 37px;
        letter-spacing: 1px;
        line-height: 62px;
        margin-right: 22px;
      }

      &-url2 {
        font-size: 37px;
        margin-right: 22px;
        line-height: 51px;
        letter-spacing: 1px;
      }
    }

    &__social {
      margin-top: 58px;
      margin-right: 44px;
      font-size: 21px;

      &-item {
        width: 36px;
        height: 36px;
        &:hover {
          background-color: $color4;
        }

        &:last-child {
          background-color: transparent;
        }

        a {
          color: $color2 !important;
          &:hover {
            color: $color2 !important;
          }
        }

        &:last-child a {
          font-size: 37px;
          color: $color3 !important;

          &:hover {
            color: $color4 !important;
          }
        }

        &_search {
          color: $color4 !important;
        }
      }
      &-link {
        width: 100%;
        height: 100%;

        .instagram-svg {
          width: 19px;
          height: 19px;

          &__path2,
          &__path8,
          &__path1 {
            fill: $color2;
          }

          &__circle {
            fill: $color2;
            &_black {
              fill: $color3;
            }
          }
        }

        .youtube-svg {
          width: 32px;
          height: 33px;

          &__top-text,
          &__middle-text {
            fill: $color2;
          }
        }
        &:hover {
          color: $color4 !important;
        }
      }
    }
  }

  .authors {
    @include font-family($helvetica-regular);
    font-size: 24px;
    text-transform: capitalize;

    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    p {
      letter-spacing: 1px;

      span {
        @include font-family($helvetica-bold);
        text-transform: uppercase;
      }
    }

    &__link {
      text-decoration: none;
      text-transform: lowercase;
      color: $color4;
      transition: all ease-out 0.4s;

      &:hover {
        transition: all ease-out 0.4s;
        color: $color1;
      }
    }
  }

  @media (max-width: 767.98px) {
    @include block-padding(10px, 10px);
    padding-bottom: 10px;

    .our-partners {
      padding: 0;
      min-height: auto;
      margin-bottom: 40px;

      &__list {
        flex-direction: column;
        height: 100%;
        padding: 0;
      }

      &__item {
        width: 50%;
        margin: 20px 0;
        a {
          img {
            width: auto;
          }
        }
      }
      &__title {
        padding: 0px;
        font-size: 30px;
        margin-bottom: 20px;
      }
    }

    .info {
      margin-bottom: 20px;

      &__wrapper-arrow {
        width: 36px;
        height: 36px;
        margin: 0;
      }
      &__contacts {
        width: 100%;

        &-title {
          font-size: 20px;
          margin: 0;
          margin-top: 20px;
        }

        &-adress {
          font-size: 15px;
          margin: 0;
          margin-top: 20px;
          text-align: center;
        }

        &-phone {
          font-size: 20px;
          margin: 0;
          margin-top: 20px;
        }

        &-email {
          font-size: 18px;
          margin: 0;
          margin-top: 20px;
          letter-spacing: 0px;
          text-align: center;
        }
        &-url1,
        &-url2 {
          font-size: 21px;
          letter-spacing: 0px;
          line-height: 31px;
          margin: 0;
          margin-top: 20px;
        }
      }

      &__social {
        margin: 0;
        margin-top: 40px;
      }
    }
    .authors {
      letter-spacing: 1px;
      font-size: 20px;
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 991.98px) {
    @include block-padding(30px, 30px);

    .our-partners {
      padding: 0;

      &__title {
        padding-top: 45px;
        padding-bottom: 45px;
      }

      &__list {
        padding-bottom: 50px;
      }

      &__item {
        margin-right: 20px;
      }
    }

    .info {
      margin-bottom: 70px;

      &__wrapper-arrow {
        width: 40px;
        height: 40px;
        margin-right: 0px;
        margin-bottom: 52px;
      }
    }
  }

  @media (max-width: 1220.98px) {
    .our-partners {
      @include block-padding(30px, 30px);

      &__title {
        padding-top: 50px;
        padding-bottom: 50px;
      }

      &__list {
        padding-bottom: 80px;
      }

      &__item {
        margin-right: 20px;
      }
    }

    .info {
      margin-bottom: 50px;

      &__wrapper-arrow {
        width: 40px;
        height: 40px;
        margin-right: 0px;
        margin-bottom: 52px;
      }
    }
  }
}
