.footer {
  background-color: $color2;
  color: $color4;

  //our partners section
  .our-partners {
    @include block-padding(69px, 69px);
    @include font-family($helvetica-bold);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 60px;
      text-align: center;
      letter-spacing: 3px;
      padding-left: 0px;
      margin: 0;
      padding-top: 76px;
      padding-bottom: 72px;
    }

    &__list {
      width: 100%;
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-bottom: 220px;
    }

    &__item {
      flex-grow: 1;
      margin-right: 78px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:last-child {
        margin-right: 0;
      }

      img {
        width: 100%;
      }
    }
  }

  //info section
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 131px;

    &__wrapper-arrow {
      width: 64px;
      height: 66px;
      margin-right: 27px;
      margin-bottom: 91px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__contacts {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      a {
        color: $color4;
        text-decoration: none;
        transition: all ease-out 0.4s;

        &:hover {
          transition: all ease-out 0.4s;
          color: $color1;
        }

        &:focus {
          outline: none;
          color: $color1;
        }
      }

      &-title {
        @include font-family($helvetica-bold);
        text-transform: uppercase;
        font-size: 35px;
        letter-spacing: 1px;
        margin-right: 26px;
        margin-bottom: 13px;
      }

      &-adress {
        font-size: 34px;
        margin-right: 26px;
        letter-spacing: 1px;
        margin-bottom: 5px;
      }

      &-phone {
        font-size: 37px;
        margin-right: 27px;
      }

      &-email {
        font-size: 34px;
        margin-right: 25px;
        letter-spacing: 1px;
      }

      &-url1 {
        font-size: 37px;
        letter-spacing: 1px;
        line-height: 62px;
        margin-right: 22px;
      }

      &-url2 {
        font-size: 37px;
        margin-right: 22px;
        line-height: 51px;
        letter-spacing: 1px;
      }
    }

    &__social {
      margin-top: 58px;
      margin-right: 44px;
      font-size: 21px;

      &-item {
        width: 36px;
        height: 36px;
        &:hover {
          background-color: $color4;
        }

        &:last-child {
          background-color: transparent;
        }

        a {
          color: $color2 !important;
          &:hover {
            color: $color2 !important;
          }
        }

        &:last-child a {
          font-size: 37px;
          color: $color3 !important;

          &:hover {
            color: $color4 !important;
          }
        }

        &_search {
          color: $color4 !important;
        }
      }
      &-link {
        width: 100%;
        height: 100%;

        .instagram-svg {
          width: 19px;
          height: 19px;

          &__path2,
          &__path8,
          &__path1 {
            fill: $color2;
          }

          &__circle {
            fill: $color2;
            &_black {
              fill: $color3;
            }
          }
        }

        .youtube-svg {
          width: 32px;
          height: 33px;

          &__top-text,
          &__middle-text {
            fill: $color2;
          }
        }
        &:hover {
          color: $color4 !important;
        }
      }
    }
  }

  .authors {
    @include font-family($helvetica-regular);
    font-size: 24px;
    text-transform: capitalize;

    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    p {
      letter-spacing: 1px;

      span {
        @include font-family($helvetica-bold);
        text-transform: uppercase;
      }
    }

    &__link {
      text-decoration: none;
      text-transform: lowercase;
      color: $color4;
      transition: all ease-out 0.4s;

      &:hover {
        transition: all ease-out 0.4s;
        color: $color1;
      }
    }
  }
}
