.whats-on {
  @include block-padding(60px, 60px);

  &__title {
    @include font-family($helvetica-bold);
    padding-left: 81px;
    line-height: 80px;
    letter-spacing: 3px;
    font-size: 56px;
  }

  @media (max-width: 767.98px) {
    width: 100%;
    @include block-padding(10px, 10px);

    &__title {
      padding: 0px;

      font-size: 30px;
    }
  }

  @media (max-width: 991.98px) {
    @include block-padding(30px, 30px);
    &__title {
      padding: 10px;
      text-align: center;
      line-height: 75px;
      letter-spacing: 1px;
      font-size: 45px;
    }
  }

  @media (max-width: 1220.98px) {
    &__title {
      padding-top: 56px;
    }
  }
}
