.header {
  width: 100%;
  @include block-padding(60px, 60px);
  // topline section
  &__topline {
    width: 100%;
    min-height: 239px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // burger menu
  &__burger-menu {
    display: none;
  }

  // logo
  &__logo {
    flex-grow: 1;
    max-width: 300px;
    text-transform: lowercase;

    &-top {
      display: block;
      font-size: 90px;
      padding-top: 45px;
      line-height: 96px;
      font-weight: 600;
    }
    &-bottom {
      display: flex;
      position: relative;

      &-left {
        font-size: 49px;
        font-weight: 500;
        line-height: 46px;
      }

      &-right {
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 15px;
        display: flex;
        justify-content: flex-end;
        margin-top: -32px;
      }
    }
  }

  // season
  .season {
    // border: 1px solid red;
    max-width: 675px;
    display: flex;
    @include font-family($helvetica-bold);
    text-transform: uppercase;
    padding-top: 60px;
    line-height: 90px;

    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $color2;
      text-decoration: none;

      &_left {
        color: $color1;
        transition: all ease-in 0.4s;

        &:hover {
          transition: all ease-in 0.4s;
          color: $color2;
        }
      }
      &_right {
        margin-left: 50px;
        transition: all ease-in 0.4s;

        &:hover {
          transition: all ease-in 0.4s;
          color: $color1;
        }
      }

      &-title {
        font-size: 140px;
        letter-spacing: -2px;
      }
      &-text {
        font-size: 82px;
        padding-left: 26px;
      }
    }
  }

  // celebrating
  &__celebrating {
    width: 26%;
    // border: 1px solid red;
    @include font-family($helvetica-bold);
    color: $color1;
    font-size: 44px;
    line-height: 35px;
    margin-bottom: 0;
    padding-top: 59px;
    padding-left: 21px;
    text-transform: uppercase;

    span {
      color: #000000;
    }
  }

  // actions
  &__actions {
    padding-top: 55px;

    &-cart {
      @include font-family($helvetica-bold);

      text-align: end;
      font-size: 31px;
      line-height: 25px;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: $color3;
        transition: all ease-in-out 0.4s;

        &:hover {
          transition: all ease-in-out 0.4s;
          color: $color1;
        }
      }
    }

    //donate
    &-donate {
      display: flex;
      justify-content: flex-end;

      &-btn {
        font-size: 31px;
        text-transform: uppercase;
        font-weight: 600;
        @include font-family($helvetica-bold);
        margin: 0;
        padding: 5px;
        border: 1px solid transparent;
        cursor: pointer;
        margin-top: 26px;
        color: $color1;
        background-color: transparent;

        &:hover {
          transition: all ease-in-out 0.4s;
          border: 1px solid $color1;
          box-shadow: 0px 0px 4px 3px $color1, 0px 0px 4px 3px $color2;
        }
      }
    }
  }

  //bottomline
  &__bottomline {
    display: flex;
    padding-top: 90px;
    padding-bottom: 31px;

    // main navigation
    &-nav {
      width: 100%;
      display: flex;
      font-size: 32px;
      line-height: 38px;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0;
      padding: 0;
      padding-left: 334px;
      list-style: none;

      li {
        margin-left: 0;
        margin-right: 61px;

        .active {
          color: $color1;
        }

        a {
          padding: 3px;
          box-sizing: border-box;

          width: 100%;
          height: 100%;
          color: #78797c;
          text-decoration: none;
          transition: all ease-in 0.4s;

          &:hover {
            transition: all ease-in 0.4s;
            color: $color1;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  /*------------ start media query styles ------------*/

  @media (min-width: 0px) and (max-width: 622px) {
    @include block-padding(10px, 10px);

    &__logo {
      height: 100px;
      &-bottom-left {
        font-size: 30px;
        line-height: 30px;
      }

      &-bottom-right {
        font-size: 14px;
        margin-top: -30px;
        margin-left: 75px;
      }

      &-top {
        line-height: 50px;
        padding-top: 0;
        font-size: 40px;
      }
    }

    &__inner {
      width: 100%;
      height: 120px;
      overflow-y: scroll;
      transition: all 0.5s;
      padding: 0;
      position: fixed;
      background-color: $color4;
      left: 0;
      top: 0;
      z-index: 100;
      opacity: 0.7;

      &_active {
        height: auto;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 1;
        transition: all 0.2s;
        background-color: $color4;
      }
    }

    .season {
      width: 100%;
      opacity: 0;
      transition: all 0.2s;
      justify-content: space-evenly;
      max-width: none;
      padding-top: 80px;
      line-height: 50px;

      &__link-title {
        font-size: 53px;
      }

      &__link-text {
        font-size: 28px;
        padding: 0;
      }
      &__link_right {
        margin: 0;
      }
    }

    &__celebrating {
      width: 100%;
      font-size: 20px;
      line-height: 30px;
      padding-left: 0;
      padding-top: 25px;
      text-align: center;
      transition: all 0.2s;
      opacity: 0;
      flex-direction: column;

      br {
        display: none;
      }
    }

    &__actions {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      padding: 25px 0;
      opacity: 0;
      transition: all 0.2s;

      &-cart {
        font-size: 21px;
        line-height: 18px;
      }

      &-donate-btn {
        font-size: 21px;
        margin-top: 0;
      }
    }

    .social {
      margin-top: 0;
    }

    &__topline {
      @include block-padding(20px, 20px);
      min-height: 120px;
      z-index: 20;
      flex-direction: column;
    }

    &__bottomline {
      padding: 0;

      &-nav {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        transition: all 0.2s;
        opacity: 0;
        font-size: 18px;

        li {
          text-align: center;
          width: 50%;
          margin-right: 0px;
        }
      }
    }

    &__burger-menu {
      display: block;
      position: fixed;
      right: 24px;
      top: 10px;
      width: 30px;
      height: 30px;
      z-index: 150;

      span {
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        left: 0;
        top: 13px;
      }

      &:before,
      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &:before {
        top: 5px;
      }
      &:after {
        bottom: 5px;
      }
      &_active:before {
        top: 11px;
        border: 1px solid $color1;
        background-color: $color1;
        transform: rotate(45deg);
      }
      &_active:after {
        border: 1px solid $color1;
        background-color: $color1;
        transform: rotate(-45deg);
        bottom: 17px;
      }
      &_active span {
        transform: scale(0);
      }
    }

    .display {
      opacity: 1;
    }
  }

  @media (min-width: 622.98px) and (max-width: 990px) {
    @include block-padding(0px, 0px);

    &__inner {
      max-height: 100vh;
      overflow-y: scroll;
      width: 100%;
      padding: 0;
      position: fixed;
      background-color: $color4;
      opacity: 0.7;
      left: 0;
      top: 0;
      z-index: 100;

      &_active {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 1;
        display: block;
        background-color: $color4;
      }
    }
    &__logo {
      max-width: none;
      width: 100%;
      z-index: 100;
      &-bottom-left {
        font-size: 24px;
        line-height: 22px;
      }

      &-bottom-right {
        margin-top: -23px;
        margin-left: 60px;
        font-size: 10px;
        line-height: 12px;
      }

      &-top {
        font-size: 40px;
        line-height: 56px;
        padding: 0;
      }
    }

    .season {
      width: 100%;
      display: none;
      justify-content: space-evenly;
      max-width: none;
      padding-top: 25px;

      &__link-text {
        padding: 0;
      }
      &__link_right {
        margin: 0;
      }
    }

    &__celebrating {
      width: 100%;
      font-size: 44px;
      line-height: 41px;
      padding-left: 0;
      padding-top: 25px;
      text-align: center;
      display: none;
      flex-direction: column;

      br {
        display: none;
      }
    }

    &__actions {
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      padding: 25px 0;
      display: none;

      &-donate-btn {
        margin-top: 0;
      }
    }

    .social {
      margin-top: 0;
    }

    &__topline {
      min-height: 120px;
      @include block-padding(20px, 20px);
      z-index: 20;
      flex-direction: column;
    }

    &__bottomline {
      padding: 0;
      padding-bottom: 0px;

      &-nav {
        width: 100%;
        justify-content: space-evenly;
        padding-left: 0;
        padding-bottom: 20px;
        display: none;
        font-size: 20px;

        li {
          margin-right: 5px;
        }
      }
    }

    .display {
      display: flex;
    }

    &__burger-menu {
      z-index: 150;
      position: fixed;
      top: 13px;
      right: 70px;
      display: block;
      width: 35px;
      height: 35px;

      span {
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        left: 0;
        top: 16px;
      }

      &:before,
      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &:before {
        top: 5px;
      }
      &:after {
        bottom: 5px;
      }
      &_active:before {
        top: 11px;
        border: 1px solid $color1;
        transform: rotate(45deg);
      }
      &_active:after {
        border: 1px solid $color1;
        transform: rotate(-45deg);
        bottom: 21px;
      }
      &_active span {
        transform: scale(0);
      }
    }
  }

  @media (min-width: 990.98px) and (max-width: 1120px) {
    @include block-padding(30px, 30px);

    &__inner {
      flex-direction: column-reverse;
      display: flex;
      padding-bottom: 50px;
    }
    &__logo {
      max-width: none;
      width: 100%;
      order: -1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .season {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      max-width: none;

      &__link-text {
        padding: 0;
      }
      &__link_right {
        margin: 0;
      }
    }

    &__celebrating {
      width: 100%;
      font-size: 60px;
      line-height: 51px;
      padding-left: 0;
      text-align: center;
      order: -1;
    }

    &__actions {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
      width: 100%;
      order: -4;
    }

    &__topline {
      flex-direction: column;
    }

    &__bottomline-nav {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      padding-left: 0;
      position: relative;
      font-size: 20px;

      li {
        margin-right: 5px;
      }
    }
  }

  @media (min-width: 1120.98px) and (max-width: 1229px) {
    @include block-padding(10px, 10px);

    &__topline {
      min-height: 0;
    }

    &__logo {
      max-width: 203px;
      flex-grow: 0;

      &-top {
        font-size: 45px;
        line-height: 67px;
      }
      &-bottom-left {
        font-size: 27px;
        line-height: 29px;
      }
      &-bottom-right {
        margin-top: -28px;
        margin-left: 67px;
        font-size: 12px;
      }
    }

    .season {
      padding-top: 35px;
      line-height: 77px;

      &__link {
        &-title {
          font-size: 80px;
        }
        &-text {
          font-size: 46px;
          padding-left: 0;
        }

        &_right {
          margin-left: 30px;
        }
      }
    }

    &__celebrating {
      font-size: 26px;
      padding-top: 41px;
      padding-left: 0;
    }

    &__actions {
      padding-top: 46px;

      &-donate-btn {
        margin-top: 5px;
      }
    }

    .social {
      margin-top: 19px;
    }
    &__bottomline-nav {
      justify-content: center;
      padding: 0;

      li {
        margin-right: 36px;
      }
    }
    border: 1px solid red;
  }

  @media (min-width: 1229.98px) and (max-width: 1324px) {
    @include block-padding(10px, 10px);

    &__logo {
      max-width: 203px;
      &-top {
        font-size: 70px;
      }
      &-bottom-left {
        font-size: 32px;
        line-height: 37px;
      }
      &-bottom-right {
        margin-top: -34px;
        margin-left: 87px;
        font-size: 15px;
      }
    }

    .season {
      padding-top: 51px;

      &__link {
        &-title {
          font-size: 100px;
        }
        &-text {
          font-size: 56px;
          padding-left: 0;
        }

        &_right {
          margin-left: 30px;
        }
      }
    }

    &__celebrating {
      font-size: 30px;
      padding-top: 63px;
    }

    &__actions {
      padding-top: 67px;
      &-donate-btn {
        margin-top: 5px;
      }
    }

    .social {
      margin-top: 19px;
    }

    &__bottomline-nav {
      justify-content: center;
      padding: 0;
    }
  }

  @media (min-width: 1324.98px) and (max-width: 1660px) {
    @include block-padding(10px, 10px);

    &__topline {
      justify-content: space-around;
    }
    &__logo {
      max-width: 219px;
      &-top {
        font-size: 70px;
      }
      &-bottom-left {
        font-size: 42px;
      }
      &-bottom-right {
        margin-top: -36px;
        margin-left: 107px;
      }
    }

    .season {
      &__link {
        &-title {
          font-size: 119px;
        }
        &-text {
          font-size: 67px;
          padding-left: 0;
        }
      }
    }

    &__celebrating {
      font-size: 35px;
      padding-top: 63px;
    }

    &__actions {
      padding-top: 67px;
    }

    &__bottomline-nav {
      justify-content: center;
      padding: 0;
    }
  }
}
