.slider {
  width: 100%;
  min-height: 800px;

  &__item {
    position: relative;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75px;
    right: 243px;
    max-width: 563px;
    padding: 40px 42px;
    color: $color4;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 532px;
      background-color: #000000;
      opacity: 0.6;
      z-index: 0;
    }

    &-title {
      padding: 0;
      z-index: 1;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 49px;
      line-height: 49px;
      word-spacing: 10px;
      letter-spacing: 0.5px;
      padding-left: 7px;
      margin-bottom: 51px;
    }

    &-desc {
      z-index: 1;
      font-weight: 600;
      font-size: 36px;
      line-height: 35px;
      margin-bottom: 88px;

      span:nth-child(1) {
        padding-left: 2px;
        line-height: 42px;
        letter-spacing: 1px;
      }
      span:nth-child(2) {
        font-size: 34px;
        word-spacing: -2px;
        letter-spacing: 2px;
        padding-left: 5px;
      }
    }

    &-btn {
      background-color: $color1;
      margin-left: 5px;
      margin-top: -3px;

      &:hover {
        box-shadow: 0px 0px 4px 4px $color4;
        transition: all ease-in-out 0.4s;
        border: 1px solid $color4;
      }
    }
  }

  img {
    width: 100%;
    height: 750px;
    background-size: contain;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    width: 75px;
    height: 75px;
    z-index: 10;
    font-size: 60px;
    color: $color4;
    font-weight: 400;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
  }

  .prev-arrow {
    top: 80%;
    left: 65px;

    &:hover {
      color: $color1;
    }
  }

  .next-arrow {
    top: 80%;
    right: 90px;

    &:hover {
      color: $color1;
    }
  }

  // slider dots styles
  .slick-dots {
    max-width: 200px;
    height: 100%;
    display: flex;
    list-style: none;
    margin: 0 auto;
    margin-top: 17px;
    padding: 0;
    li {
      margin-left: 23px;

      button {
        cursor: pointer;
        width: 13px;
        height: 13px;
        z-index: 10;
        padding: 0;
        font-size: 0;
        border-radius: 50%;
        background-color: $color3;
        border: 1px solid transparent;

        &:focus {
          outline: none;
        }
      }
    }

    .slick-active {
      button {
        width: 13px;
        height: 13px;
        padding: 0;
        z-index: 10;
        background-color: #000000;
      }
    }
  }
  /*------------------- start media styles ---------------------------*/

  @media (min-width: 0px) and (max-width: 768px) {
    margin-top: 120px;
    min-height: 0;

    img {
      height: 250px;
    }
    &__content {
      right: 0;
      max-width: 100%;
      top: 25px;
      padding: 0;

      &::before {
        left: 0%;
        top: 5%;
        width: 100%;
        min-height: 147px;
      }

      &-title {
        font-size: 14px;
        line-height: 10px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
        word-spacing: 1px;

        br {
          display: none;
        }
      }

      &-desc {
        font-size: 14px;
        line-height: 0px;
        text-align: center;
        margin-bottom: 5px;
        word-spacing: 1px;

        span:nth-child(2) {
          font-size: 15px;
          word-spacing: -5px;
          letter-spacing: 2px;
          padding-left: 0;

          br {
            display: block;
          }
        }
      }
      &-btn {
        margin: 15px auto;
        max-width: 220px;
        a {
          line-height: 28px;
          font-size: 20px;
          width: auto;
          padding: 8px 5px 8px 5px;
        }
      }
    }
    .next-arrow {
      top: 170px;
    }
    .prev-arrow {
      top: 170px;
    }
    .slick-dots {
      width: 100%;
      max-width: 100%;
      justify-content: space-evenly;
      margin: 0;

      li {
        margin-left: 0;
      }
    }
  }
  @media (min-width: 767.98px) and (max-width: 990px) {
    margin-top: 120px;
    min-height: 0;

    img {
      height: 305px;
    }
    &__content {
      right: 0;
      max-width: 100%;
      top: 25px;
      padding: 0;

      &::before {
        left: 40%;
        top: 5%;
        width: 50%;
        min-height: 220px;
      }

      &-title {
        font-size: 20px;
        line-height: 30px;
        text-align: end;
        padding-right: 150px;
        padding-top: 40px;
        margin-bottom: 5px;
        word-spacing: 1px;

        br {
          display: none;
        }
      }

      &-desc {
        font-size: 15px;
        margin-bottom: 22px;
        line-height: 20px;
        margin-left: 361px;
        margin-right: 84px;

        span:nth-child(2) {
          font-size: 15px;
          word-spacing: -5px;
          letter-spacing: 2px;
          padding-left: 0;

          br {
            display: block;
          }
        }
      }
      &-btn {
        margin-left: 375px;
      }
    }
  }

  .next-arrow {
    font-size: 25px;
    top: 235px;
    right: 0px;
  }
  .prev-arrow {
    font-size: 25px;
    top: 235px;
    left: 0px;
  }
}
