.events {
  display: flex;
  margin-bottom: 173px;
  &:last-child {
    margin-bottom: 143px;
  }
  &__img {
    width: 100%;
    max-width: 842px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__info {
    width: 100%;
    max-width: 630px;

    &-title {
      display: block;
      font-weight: 900;
      font-size: 51px;
      line-height: 52px;
      letter-spacing: 2px;
      padding-left: 63px;
      padding-top: 3px;
      text-transform: uppercase;
      min-height: 104px;
    }
    &-desc {
      @include font-family($helvetica-bold);
      padding-left: 63px;
      padding-top: 83px;
      width: 100%;
      max-width: 520px;
      font-size: 24px;
      line-height: 34px;
    }

    &-buttons-wrap {
      display: flex;
      margin-top: 91px;
    }

    &-btn {
      cursor: pointer;
      margin-left: 70px;
      min-width: 257px;
      @include font-family($helvetica-bold);
      font-size: 40px;
      padding: 0;
      letter-spacing: 2px;
      background-color: $color2;
      color: $color4;

      &:hover {
        box-shadow: 0px 0px 10px 3px $color2;
        border: 1px solid $color4;
      }
      &:focus {
        outline: 1px solid $color4;
      }

      &:last-child {
        background-color: $color1;
        margin-left: 20px;
      }
    }
  }

  @media (max-width: 767.98px) {
    &__info {
      padding: 0;

      &-title {
        font-size: 20px;
      }
      &-desc {
        font-size: 15px;
        text-align: center;
        padding: 0 10px;
        line-height: 28px;
      }

      &-btn {
        margin-left: 0;
        font-size: 16px;
        padding: 3px;
        
      }
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 991.98px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 70px;
    }

    &__info {
      padding: 0 40px;
      max-width: 100%;

      &-title {
        letter-spacing: 0px;
        text-align: center;
        padding-left: 0px;
        padding-top: 20px;
      }

      &-desc {
        max-width: 100%;
        padding: 0;
        line-height: 35px;

        br {
          display: none;
        }
      }

      &-buttons-wrap {
        justify-content: center;
      }

      &-btn {
        margin-top: 30px;
        margin-left: 0;
      }
    }
  }
  @media (max-width: 1220.98px) {
    margin-bottom: 100px;

    &:last-child {
      margin-bottom: 50px;
    }

    &__info {
      &-title {
        font-size: 30px;
        min-height: 0;
        br {
          display: none;
        }
      }

      &-desc {
        font-size: 20px;
      }

      &-buttons-wrap {
        margin-top: 0;
      }
    }
  }
  @media (max-width: 1463.98px) {
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-title {
        font-size: 42px;
        line-height: 47px;
        letter-spacing: 2px;
        padding-left: 63px;
        padding-top: 0px;
        min-height: 0;
      }

      &-desc {
        padding-top: 0px;
        font-size: 22px;
        line-height: 28px;
      }

      &-buttons-wrap {
        margin-top: 18px;
      }
      &-btn {
        min-width: 110px;
        font-size: 25px;
        padding: 9px;
       
      }
    }

    &__img {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  @media (min-width: 1221px) and (max-width: 1600.98px) {
    &:last-child {
      margin-bottom: 0px;
    }

    &__info {
      &-title {
        font-size: 48px;
      }
      &-desc {
        padding-top: 46px;
      }
    }
  }
}
