<footer class="footer">
    <div class="container">
        <div class="our-partners">
            <h2 class="title our-partners__title">our partners.</h2>
            <ul class="our-partners__list">
                <li class="our-partners__item"><a href="#"><img src="../img/20.png" alt=""></a></li>
                <li class="our-partners__item"><a href="#"><img src="../img/21.png" alt=""></a></li>
                <li class="our-partners__item"><a href="#"><img src="../img/22.png" alt=""></a></li>
                <li class="our-partners__item"><a href="#"><img src="../img/23.png" alt=""></a></li>
                <li class="our-partners__item"><a href="#"><img src="../img/24.png" alt=""></a></li>
                <li class="our-partners__item"><a href="#"><img src="../img/25.png" alt=""></a></li>
                <li class="our-partners__item"><a href="#"><img src="../img/26.png" alt=""></a></li>
            </ul>
        </div>

        <div class="info">
            <div class="info__wrapper-arrow"><img src="../icons/arrow-up.png" alt="arro up"></div>
            <div class="info__contacts">
                <span class="info__contacts-title">Sydney Philharmonia Choirs</span>
                <span class="info__contacts-adress">Pier 4, Hickson Road Walsh Bay NSW 2000</span>
                <span class="info__contacts-phone"><a href="tel:+0282746200">Phone: 02 8274 6200</a></span>
                <span class="info__contacts-email"><a
                        href="mailto:admin@sydneyphilharmonia.com.au">admin@sydneyphilharmonia.com.au</a></span>
                <span class="info__contacts-url1"><a href="#">sydneyphilharmonia.com.au</a></span>
                <span class="info__contacts-url2"><a href="#">singwithpassion.com.au</a></span>

                <ul class="social">
                    <li class="social__item"><a class="social__link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social__item"><a class="social__link" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="social__item"><a class="social__link" href="#">@@include('icon-svg/instagram.html')</a>
                    </li>
                    <li class="social__item"><a class="social__link" href="#">@@include('icon-svg/youtube.html')</a>
                    </li>
                    <li class="social__item social__item_search"><a class="social__link" href="#"><i
                                class="fas fa-search"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="authors">
            <p><span>Design</span> Sylvia Weimer, Spacelab Design www.spacelabdesign.com</p>
            <p><span>Photography</span> Keith Saunders and Will Taylor</p>
        </div>
    </div>
</footer>