<header class="header">
    <div class="container">
        <!-- header topline -->
        <div class="header__topline">
            <div class="header__logo">
                <span class="header__logo-top">Sydney</span>
                <div class="header__logo-bottom">
                    <div class="header__logo-bottom-left">Philharmonia</br> choirs <span
                            class="header__logo-bottom-right">music director</br> brett weymark</span>
                    </div>
                </div>
            </div>
            <!-- logo -->

            <!-- header season -->
            <div class="season">
                <a class="season__link season__link_left" href="#">
                    <span class="season__link-title">2017</span>
                    <span class="season__link-text">season</span>
                </a>

                <a class="season__link season__link_right" href="#">
                    <span class="season__link-title">2018</span>
                    <span class="season__link-text">season</span>
                </a>
            </div>
            <!-- /header season -->

            <!-- celebrating section -->
            <h1 class="header__celebrating">Sydney Philharmonia</br> Choirs<span> celebrating</br> 100 years in
                    2020</span>
            </h1>
            <!-- celebrating section -->

            <!-- header cart, social, donate button section-->
            <div class="header__actions">
                <div class="header__actions-cart"><a href="#">Shop/</br>cart</a></div>
                <ul class="social">
                    <li class="social__item"><a class="social__link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social__item"><a class="social__link" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="social__item"><a class="social__link" href="#">@@include('icon-svg/instagram.html')</a>
                    </li>
                    <li class="social__item"><a class="social__link" href="#">@@include('icon-svg/youtube.html')</a>
                    </li>
                    <li class="social__item social__item_search"><a class="social__link" href="#"><i
                                class="fas fa-search"></i></a></li>
                </ul>
                <div class="header__actions-donate">
                    <button class="header__actions-donate-btn">Donate</button>
                </div>
            </div>
            <!-- /header cart, social, donate button section -->
        </div>
        <!-- /header topline -->

        <!-- main bottomline wrapper-->
        <div class="header__bottomline">
            <!-- burger menu wrapper -->
            <div class="header__burger-menu">
                <span></span>
            </div>
            <!-- /burger menu wrapper -->

            <!-- main navigation  section-->
            <ul class="header__bottomline-nav">
                <li><a class="active" href="#">what‘s on</a></li>
                <li><a href="#">support us</a></li>
                <li><a href="#">sing with us</a></li>
                <li><a href="#">about us</a></li>
                <li><a href="#">media</a></li>
                <li><a href="#">contact</a></li>
            </ul>
            <!-- /main navigation  section-->
        </div>
        <!-- /main bottomline wrapper-->
    </div>

</header>