<section class="slider">
    <div class="slider__item">
        <img src="img/1.jpg" alt="slide1">
        <div class="slider__content">
            <span class="slider__content-title">
                Elgar<br>
                The Dream of<br>
                Gerontius
            </span>
            <div class="slider__content-desc">
                <span>400 singers perform Elgar’s</span>
                <span>monumental work under the</span>
                <span>stunning Sydney Opera House sails.</span>
            </div>
            <button class="content-btn slider__content-btn"><a href="#">book now</a></button>
        </div>
    </div>
    <div class="slider__item">
        <img src="img/1.jpg" alt="slide2">
        <div class="slider__content">
            <span class="slider__content-title">
                Elgar<br>
                The Dream of<br>
                Gerontius
            </span>
            <div class="slider__content-desc">
                <span>400 singers perform Elgar’s</span>
                <span>monumental work under the</span>
                <span>stunning Sydney Opera House sails.</span>
            </div>
            <button class="content-btn slider__content-btn"><a href="#">book now</a></button>
        </div>
    </div>
    <div class="slider__item">
        <img src="img/1.jpg" alt="slide3">
        <div class="slider__content">
            <span class="slider__content-title">
                Elgar<br>
                The Dream of<br>
                Gerontius
            </span>
            <div class="slider__content-desc">
                <span>400 singers perform Elgar’s</span>
                <span>monumental work under the</span>
                <span>stunning Sydney Opera House sails.</span>
            </div>
            <button class="content-btn slider__content-btn"><a href="#">book now</a></button>
        </div>
    </div>
    <div class="slider__item">
        <img src="img/1.jpg" alt="slide4">
        <div class="slider__content">
            <span class="slider__content-title">
                Elgar<br>
                The Dream of<br>
                Gerontius
            </span>
            <div class="slider__content-desc">
                <span>400 singers perform Elgar’s</span>
                <span>monumental work under the</span>
                <span>stunning Sydney Opera House sails.</span>
            </div>
            <button class="content-btn slider__content-btn"><a href="#">book now</a></button>
        </div>
    </div>

</section>