.shop-and-support {
  @include block-padding(60px, 60px);

  &__inner {
    display: flex;
  }

  .our-shop {
    width: 100%;
    max-width: 581px;
    margin-right: 31px;

    &__title {
      @include font-family($helvetica-bold);
      padding-top: 176px;
      margin: 0;
      line-height: 39px;
      word-spacing: 6px;
      letter-spacing: -1px;
      font-size: 63px;
    }
    &__item {
      min-height: 317px;
      margin-top: 16px;
      width: 100%;
      max-width: 576px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .support-us {
    width: 100%;

    &__title {
      @include font-family($helvetica-bold);
      padding-top: 176px;
      padding-left: 10px;
      margin: 0;
      line-height: 39px;
      word-spacing: 6px;
      letter-spacing: -1px;
      font-size: 63px;
    }
    &__inner {
      width: 100%;
      margin-top: 15px;
      display: flex;

      &-left {
        width: 100%;
        min-height: 100%;

        max-width: 576px;
        margin-right: 31px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &-right {
        background-color: #27267e;
        flex-grow: 1;
        display: flex;
        align-items: center;
        text-decoration: none;

        &-text {
          @include font-family($helvetica-bold);
          color: $color1;
          font-size: 49px;
          line-height: 37px;
          padding: 0;
          @include block-padding(30px, 30px);
          margin: 0;
          text-transform: uppercase;

          span {
            color: $color4;
          }
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    width: 100%;
    @include block-padding(10px, 10px);

    &__inner {
      flex-direction: column;
    }
    .our-shop {
      width: 100%;
      min-width: 100%;
      margin: 0;
      margin-bottom: 40px;

      &__item {
        min-height: auto;
      }

      &__title {
        padding: 0px;
        font-size: 30px;
        line-height: 39px;
        text-align: center;
      }
    }

    .support-us {
      &__title {
        padding: 0px;
        font-size: 30px;
        line-height: 39px;
        text-align: center;
      }

      &__inner {
        flex-direction: column;

        &-left {
          width: 100%;
          min-height: auto;
          max-width: 100%;
          margin-right: 0;
          margin-bottom: 30px;
        }

        &-right {
          min-height: 150px;

          &-text {
            font-size: 27px;
            line-height: 33px;
            padding: 0 10px;
            text-align: center;
          }
        }
      }
    }
  }
  @media (max-width: 991.98px) {
    @include block-padding(30px, 30px);

    &__inner {
      flex-direction: column;
    }

    .our-shop {
      &__title {
        padding-top: 70px;
      }
    }

    .support-us {
      &__title {
        padding: 0;
        padding-top: 60px;
      }
    }
  }
  @media (max-width: 1220.98px) {
    &__inner {
      flex-direction: column;
    }

    .our-shop {
      &__title {
        padding-top: 100px;
      }

      &__item {
        margin-top: 0;
      }
    }

    .support-us {
      &__title {
        padding-top: 100px;
        padding-left: 0;
      }
    }
  }
  @media (min-width: 1221px) and (max-width: 1600.98px) {
    &__inner {
      justify-content: center;
      align-items: baseline;
    }

    .our-shop {
      &__title {
        padding-top: 0;
      }
    }
    .support-us {
      width: auto;
      &__title {
        padding-top: 0;
      }
      &__inner {
        flex-direction: column;
        max-width: 379px;
        min-height: 328px;

        &-left {
          margin-right: 0;
          height: 193px;

          img {
            width: auto;
            height: auto;
          }
        }

        &-right {
          &-text {
            font-size: 33px;
          }
        }
      }
    }
  }
}
